
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    html{
        font-family: "Poppins ",sans-serif;
    }
    body{
        padding: 0;
        margin: 0;
    }
}
@layer utilities{
    .navbar{
        @apply text-sm font-normal  py-3 px-4 items-center m-1
        
    }
    .navbar-clicked{
        @apply text-sm font-normal bg-primary rounded-full py-3  px-4 m-1 items-center
    }
    .helloo{
        @apply flex flex-col gap-2   bg-no-repeat cursor-pointer h-[55vh] w-[45vw] bg-slate-500 rounded-3xl outline-none
    }
    .hello{
        @apply flex flex-col gap-2  bg-no-repeat  border-black h-[55vh] w-[45vw] bg-slate-500 rounded-3xl outline-none 
    }
}
@layer components{
}